body {
    padding: 3%;
    margin: 0 auto;
    max-width: 1480px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

body a {
    color: orangered;
    text-decoration: none;
}

.ProjectRow div:nth-child(1) a:hover {
    font-size: 32px;
}

#ContactContainer {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    color: orangered;
    margin-bottom: 64px;
    padding-bottom: 6px;
    border-bottom: 1px solid orangered;
    column-gap: 16px;
}

.ProjectRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.ProjectRow div {
    width: 30%;
    font-size: 22px;
    margin-bottom: 24px;
}

.ProjectRow div:nth-child(2) {
    width: 65%;
    font-size: 18px;
}

@media only screen and (max-width: 960px) {
    .ProjectRow div {
        min-width: 100%;
    }
    .ProjectRow div:nth-child(2) {
        min-width: 100%;
    }
  }