body {
    padding: 3%;
    margin: 0 auto;
    max-width: 1200px;
}

.ProjectRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.ProjectRow div {
    width: 60%;
}

.ProjectRow div:nth-child(2) {
    width: 100%;
    margin-left: 64px;
}