.container {
    padding-top: 80px;
    width: auto;
    background-image: url("/images/calculator-background.png");
    background-size: cover; /* Cover ensures the image fills the container */
    background-position: center; /* Center the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevent repeating of the background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrows {
    width: 16px;
    height: 13px;
    margin: 2em 0px;
}

.calculatorform {
    width: 60%;
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1260px;
}

.tablecontainer {
    padding: 3em 0em;
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
}

.tablecontainer button{
    font-size: 0.5em;
    padding: 0;
    background-color: black;
    color: #fff;
    height: 24px;
}

.tablerecord input {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #fff;
}

.tablerecord {
    width: 189px;
    max-width: 189px;
    padding: 0.5em 0;
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.tablerecord p{
    color: rgba(255, 245, 0, 1);
    font-weight: 400;
    margin: 0 0 1em 0;
}

.tablerecord span {
    display: flex;
    justify-content: space-between;
}

.tabletext {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabletext img{
    width: 24px;
    height: 24px;
}


input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
}

.calculatorform input {
    margin-top: 2em;
    width: 76%;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 0.5em;
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
    color: #fff;
}

.calculatorform button {
    margin-top: 2em;
    width: 20%;
    height: 42px;
}

.calculatorform input::placeholder{
    color: #fff;
}

.routestep {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    display: flex;
    column-gap: 2em;
}

.routestep img{
width: 22px;
height: auto;
margin-left: -12px;
}

.dashline {
    border-left: rgba(255, 245, 0, 1) 2px dashed;
    min-height: 32px;
    min-width: 2px;
    margin-left: -48px;
    margin-top: 24px;
}

.lastStep .dashline {
    display: none;
  }

  @media only screen and (max-width: 900px) {
    .calculatorform {
        width: 80%;
    }

    .calculatorform input {
        width: 64%;
    }

    .calculatorform button {
        width: 28%;
    }

    .routestep {
        font-size: 14px;
        line-height: 18px;
    }

    .dashline {
        margin-left: -40px;
    }

    .calculatorform input {
        font-size: 14px;
        line-height: 18px;
    }

    .tablerecord {
        min-width: 80%;
        margin-bottom: 1em;
    }

    .tabletext img{
        width: 24px;
        height: 24px;
        margin-left: 80%;
    }

}
