.container {
    width: auto;
    margin-top: 2em;
    background-color: black;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.container img:nth-child(1) {
    margin-top: -0.5em;
}

.columntitle {
    line-height: 0;
    color: rgba(255, 255, 255, 0.4);
    font-family: "Inter", sans-serif;
    font-size: 0.75em;
    font-weight: 400;

}

.footerlinks {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 0.75em;
    font-weight: 300;
    row-gap: 0.5em;
}

@media only screen and (max-width: 640px) {

    .container {
        flex-direction: column;
    }

    .footerlinks {
        margin-top: 0.5em;
        margin-bottom: 2em;
    }

    .container img:nth-child(1) {
        margin-bottom: 1.5em;
    }

}