.inputField {
	font-size: 24px;
	font-family: mindset-regular;
	text-align: center;
	background-color: #fef7db;
	border: none;
	padding: 2px 24px;
}

.hiScoresContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 3vh;
	line-height: 26px;
	width: 340px;
	padding-top: 32px;
	padding-bottom: -24px;
	position: relative;
}

.hiScoresDivider {
	width: 3px;
	min-height: 100%;
	background-color: black;
	margin-left: 50%;
}

#userScoreDots {
	margin: -12px 0px;
}

.hiScoresContainer p{
	width: 90%;
	font-family: mindset-regular;
	border-radius: 24px;
	display: flex;
	text-wrap: nowrap;
	justify-content: space-between;
	flex-direction: row;
	opacity: 0.7;
	margin-left: 1%;
	margin-top: -24px;
}


span {
	height: 4vh;
	min-width: 20vh;
	max-width: 20vh;
	overflow: hidden;
	text-wrap: nowrap;
	padding: 1% 4%;
}

#score {
	min-width: 4vh;
	max-width: 4vh;
}

#phone {
	display: none;
}

#email {
	display: none;
}

.userScore {
	display: flex;
	text-wrap: nowrap;
	min-height: 5vh !important;
	max-height: 5vh !important;
	opacity: 1 !important;
	max-width: 97% !important;
	min-width: 97% !important;
	line-height: 5vh !important;
	background-color: rgb(255, 211, 1);
	border-radius: 24px;
	margin-bottom: 4vh !important;
}

.userScore #username {
	min-width: 20vh;
	max-width: 20vh;
	
}

#termsContainer {
	font-size: 16px;
	font-family: mindset-regular;
	overflow-y: scroll;
}


.userScore #score {
	margin-right: 2.5vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


